<%= form_with(model: combat, local: true) do |form| %>
  <% if combat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(combat.errors.count, "error") %> prohibited this combat from being saved:</h2>

      <ul>
      <% combat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :combat_name %>
  </div>

  <div class="field">
    <%= form.label :fight %>
    <%= form.text_area :fight, id: :combat_fight %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :combat_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
